<!DOCTYPE html>

<html>
    <head>
        <title>Golf CRUD</title>
        
    </head>
    <body >
        <nav>
             <div  style="background-color : white; ">
                {{{body}}}
            </div>
        </nav>
           

        </div>
        
       
    </body>
</html>