<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h3>Managers</h3>
    <table class=" table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Telephone</th>

        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>

        
        <td>{{this.lastname}}</td>
        <td>{{this.firstname}}</td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td>
            <a href=""><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
             <a href=""><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
        </td>
        </tr>
        {{/each}}
    </tbody>


</table>
</body>
</html>

