
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-color: white;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> GolfCourT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/user">Inscription</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link " href="http://localhost:3000/user/login">connexion </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="http://localhost:3000/golf/list">Golf </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="http://localhost:3000/user/list">manager</a>
      </li>
    </ul>
   
  </div>
</nav>

<div class="jumbotron" style="background: greenyellow;">
  <h1 class="display-4" style="text-align: center;">Bienvenue !</h1>
  <p class="lead" style="text-align: center;">Bonjour , voici la version de notre API réalisé grace à Nodejs</p>
  <hr class="my-4">
  </div>

<div class="container">

  <h2>EXPLICATION!</h2>
      <P>
           L'enssemble des routes necessaires pour la navigation 
      </P>

      <ul>
         <li>/user/Home : Page D'accueil</li>
        <li>/user : Creation d'un nouvel utilisateur</li>
        <li>/golf: Création d'un nouveau Golf</li>
        <li>/user/list : Affichage des utilisateurs</li>
        <li>/golf/list : affichage des Golfs</li>
        <li>/user/login : connexion</li>
      </ul>

      <p>La modification ainsi que la suppression sont gérés au niveau des boutons que nous avons ajouté sur chaque lignes dans les listes </p>
     <p> Par rapport à l'authetification nous n'avons pas pu utiliser ce qui a été conseillé dans le sujet mais nous avons essayé de poser une condition par rapport à la page à renvoyer si le mail saisi par l'utilisateur lors de la connexion est celui que nous avons defini comme admin   </p>
</div>
  

</body>
</html>
