<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h3>Connexion</h3>
    <hr>


<form action="/user" method="POST" >


    <div class="form-group">
        <label> Email</label>
        <input type="email" class="form-control" name="email" placeholder="email">
    </div>

    <div class="form-group">
        <label >Telephone</label>
        <input type="text" class="form-control" name="telephone" placeholder="Telephone">
    </div>
     <div class="form-group">
        <button type="submit" class="btn btn-info">submit</button>

    </div>

   
</form>
    
</body>
</html>

