<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title></title>Golf
</head>
<body>
    


<h3>{{viewTitle}}</h3>

<form action="/golf" method="POST" autocomplete="on">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>Titre</label>
        <input type="text" class="form-control" name="titre" placeholder="titre" value="{{golf.titre}}">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Latitude</label>
            <input type="text" class="form-control" name="latitude" placeholder="latitude" value="{{golf.latitude}}">
        </div>
        <div class="form-group col-md-6">
            <label>Longitude</label>
            <input type="text" class="form-control" name="longitude" placeholder="longitude" value="{{golf.longitude}}">
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="description" placeholder="description" value="{{golf.description}}">
    </div>
    <div class="form-group">
        <label>Manager</label>
        <input type="text" class="form-control" name="manager" placeholder="manager" value="{{golf.manager}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/golf/list"><i class="fa fa-list-alt"></i>View All</a>
    </div>
</form>
</body>
</html>

