<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Liste Golf</title>
</head>
<body>
    
<h3> <a href="/golf" class="btn btn-secondary"><i class="fa fa-plus"></i> Create New</a> Golf List</h3>
<table class="table table_striped">
    <thead>
        <tr>
            <th>titre</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>description</th>
            <th>manager</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.titre}}</td>
            <td>{{this.latitude}}</td>
            <td>{{this.longitude}}</td>
            <td>{{this.description}}</td>
            <td>{{this.manager}}</td>
            <td>
                <a href="/golf/{{this._id}}"><i class="fa fa-pencil fa_lg" aria-hidden="true"></i></a>
                <a href="/golf/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa_lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</body>
</html>


